<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.tieba.mapper.UserMapper">
    <resultMap id="postVO" type="com.baidu.tieba.model.vo.PostVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="comments" property="comments"/>
        <result column="view" property="view"/>
        <result column="collects" property="collects"/>
        <result column="top" property="top"/>
        <result column="essence" property="essence"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <select id="init" resultMap="postVO">
        SELECT
        t.id,t.title,t.user_id,t.comments,
        t.view,t.collects,t.top,t.essence,
        t.create_time ,t.modify_time ,
        u.username,u.alias, u.avatar
        FROM post t
        , user u
        where t.user_id = u.id and u.username = #{username}
       order by t.create_time desc
    </select>

    <select id="selectByUsername" resultType="com.baidu.tieba.model.entity.User">
        select * from user u
        where u.username = #{username}
    </select>
</mapper>

